# Dependencies
node_modules/

# Cloudflare Wrangler
.wrangler/

# macOS
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/
